*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.account{
    background-color: #f3f6f8;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 110px;
}
.remember-inp{
    display: flex;
    gap: 7px;
}
.remember-inp p{
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.first-inp p{
    height: 1vh;
}
.second-inp p{
    height: 1vh;
}
.inputes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputlars{
    width: 500px;
    height: 60px;
    border: 1px solid gray;
    outline: none;
}
.login-btnn{
    background-color: #f34f3f;
    width: 100px;
    height: 40px;
}
.logins{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.check{
    margin-top: 20px;
}