*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.four-photos-all{
    background-color: #f4f7f8;
    width: 100%;
    height: 90vh;
    padding-top: 10px;
}
.four-all{
    padding-top: 100px;
}