* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-list .product .card {
    border: none;
    display: flex;
    gap: 18px;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-text a {
    transition: color .2s ease-out;
    fontFamily: Montserrat;
    cursor: pointer;
}

.product-list .card-photo img {
    transition: transform 0.3s;
    cursor: pointer;
    height: 380px;
}

.card-photo img:hover {
    transform: scale(1.1);
}

.product-list .product .product-name {
    font-size: 14px;
    font-weight: 500;
    color: rgb(27, 27, 27);
}

.product-list .product .product-price {
    color: #666;
    font-size: 13px;
}