* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.images-container .all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-container .photo {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.images-container .image {
    display: flex;
    justify-content: center;
}

.images-container .content {
    text-align: center;
}

.images-container .content p {
    color: rgb(27, 27, 27);
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
}

.images-container .job-name {
    color: #6d6a6a;
    font-weight: 400 !important;
}


@media only screen and (max-width: 1200px) {
    .images-container .all {
        margin-top: 30px;
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .images-container .all .photo {
        width: 50%;
    }
}


@media only screen and (max-width: 768px) {
    .images-container .all .photo {
        width: 100%;
    }
}