* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flowers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
    margin-top: 60px;
}

.flow {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 650px;
    width: 100%;
}

.flowers .flower {
    max-width: 650px;
    width: 100%;
}

.flowers .flower p {
    text-align: center;
    color: black;
    font-size: 45px;
    font-family: "Playfair Display";
}

.flowers .flow p {
    color: #8b8b8b;
    font-size: 19px;
    font-family: "Playfair Display";
}
