* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.standart {
    width: 100%;
    height: 225px;
    background-color: #FAFAF9;
}

.standart .container {
    display: flex;
    height: 100%;
    align-items: center;
}

.standart p {
    font-size: 50px;
    line-height: 66px;
    color: rgb(14, 14, 14);
    font-family: "Playfair Display";
}