.flowers {
    display: flex;
    flex-direction: column;
}

.top-mid-bot {
    display: flex;
    gap: 30px;
}

.six-flowers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flw-txt {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.portfolio-standart {
    margin-top: 20px;
}

.portfolio-standart .top-mid-bot {
    /*margin-top: 20px;*/
    padding-top: 0;
}