*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.right-side-text-one{
    display: flex;
}
.right-side-text-two{
    display: flex;
}
.right-side-text-three{
    display: flex;
}
.right-side-text-top{
    display: flex;
    flex-direction: column;
}
.right-side-text-bottom{
    display: flex;
    vertical-align: middle;
    gap: 5px;
}
.all-video-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    height: 600px;
    background-color: #f6f9fa;;
    margin-top: 100px;
}
.middle-bottom{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
