* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer .texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .texts p {
    color: #8b8b8b;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
}

.customer p, .company p, .social p, .archive p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
}

.footer .top {
    padding-top: 50px;
}

.footer {
    width: 100%;
    height: fit-content;
    background-color: #fefaf3;
}

.footer {
    margin-top: 100px; /* Footer'i aşağı itmek için margin-top kullanın */
}

.footer-bottom {
    text-align: center; /* İçerikleri yatayda ortalamak için text-align: center kullanın */
    row-gap: 5px;
}

.footer-bottom span {
    color: #8b8b8b;
}

.footer-hr {
    width: 100%;
    color: #8b8b8b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.ins-face {
    display: flex;
    gap: 15px;
}

.footer .social p {
    font-size: 10px;
    color: rgb(175, 175, 175);
}

@media only screen and (max-width: 991px) {
    .footer-bottom {
        height: 140px;
    }
}

@media only screen and (max-width: 576px) {
    .footer .container {
        max-width: 600px;
        margin: 0 20px;
    }

    .footer-bottom {
        height: 140px;
    }
}