*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-top{
    display: flex;
    justify-content: center;
    gap: 220px;
    padding-top: 70px;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer{
    width: 100%;
    height: 62vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fefaf3;
}
.footer {
    margin-top: 100px; /* Footer'i aşağı itmek için margin-top kullanın */
  }
  
  .footer-bottom {
    text-align: center; /* İçerikleri yatayda ortalamak için text-align: center kullanın */
  }
.footer-hr{
    width: 85%;
    color: #8b8b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 230px;
}
.ins-face{
    display: flex;
    gap: 15px;
}