* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.picture {
    margin-top: 80px;
}

.gallery-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.top-mid-bot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.six-flowers {
    width: 100%;
    height: 538px;
}

.gallery-items img {
    width: 100%;
    height: 538px;
}

.flw-img1, .flw-img2, .flw-img3, .flw-img4, .flw-img5, .flw-img6, .flw-img7, .flw-img8, .flw-img9 {
    position: relative;
    width: 100%;
    height: 100%;
}

.flw-img1::after {
    content: "FLOWER POWER"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img1:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

.flw-img2::after {
    content: "FLORISTY SHOPS"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img2:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

.flw-img3::after {
    content: "ENGLISH GARDEN"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img3:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

.flw-img4::after {
    content: "FLORICULTURE"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img4:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

.flw-img5::after {
    content: "MEANING"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img5:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

.flw-img6::after {
    content: "DUTCH STYLE"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img6:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

.flw-img7::after {
    content: "DRIED ROSES"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img7:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

.flw-img8::after {
    content: "FLOWER EXPERTS"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img8:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

.flw-img9::after {
    content: "IKEBANA"; /* Görüntülenmesini istediğiniz metni buraya yazın */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 240, 240, 0.8); /* Arkaplan rengini ve şeffaflığını ayarlayabilirsiniz */
    color: black; /* Metin rengini ayarlayabilirsiniz */
    opacity: 0; /* Başlangıçta metni gizleyin */
    transition: opacity 0.6s; /* Animasyon efekti için geçiş süresini ayarlayabilirsiniz */
    display: flex;
    justify-content: center;
    align-items: center;
}

.flw-img9:hover::after {
    opacity: 5; /* Hover olduğunda metni görünür yapın */
}

@media only screen and (max-width: 1400px) {
    .six-flowers, .gallery-items img {
        height: 450px;
    }
}

@media only screen and (max-width: 1200px) {
    .six-flowers, .gallery-items img {
        height: 386px;
    }
}

@media only screen and (max-width: 991px) {
    .six-flowers, .gallery-items img {
        height: 307px;
    }
}

@media only screen and (max-width: 768px) {
    .gallery-items {
        grid-template-columns: 1fr 1fr;
    }

    .six-flowers, .gallery-items img {
        height: 371px;
    }
}

@media only screen and (max-width: 680px) {
    .gallery-items {
        grid-template-columns: 1fr;
    }

    .six-flowers, .gallery-items img {
        height: 576px;
    }
}

@media only screen and (max-width: 576px) {
    .six-flowers, .gallery-items img {
        height: 546px;
    }
}

@media only screen and (max-width: 480px) {
    .six-flowers, .gallery-items img {
        height: 390px;
    }
}