.header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 115px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    z-index: 110;
    box-sizing: border-box;
}

.headerBox {
    position: relative;
    background-color: #fff;
}

.headerLeftLogo {
    position: relative;
    float: left;

    z-index: 2;
    height: 100%;
}

.headerLeftLogo a img {
    width: 212px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.headerLinks {
    position: relative;
    float: right;
    z-index: 2;
    height: 100%;
    text-align: right;
}

.headerLinks nav {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.headerLinks nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.headerLinks nav > ul > li {
    position: relative;
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0;
}

.headerLinks nav > ul > li a:after {
    display: none !important;
}

.headerLinks nav > ul > li > a {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    padding: 0 25px;
    color: #1b1b1b;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    /*line-height: 22px;*/
    letter-spacing: 0.1em;
}

.headText {
    display: block;
}

.headTextInside {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.headerLinks nav ul li:hover .headTextInside::before {
    width: 100%;
}

.header li#cart-link {
    padding: 0 15px;
}

.header li#cart-link svg {
    width: 24px;
    height: 24px;
}

.header li#cart-link .headText {
    display: none;
}

.header li#cart-link .product-count {
    left: 60px !important;
}

.pagesHover {
    position: relative;
}

.pagesHoverInside {
    position: absolute;
    display: block;
    left: 3px;
    top: 35px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: top 0.15s ease-out;
}

.pagesHoverInsideBox {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    z-index: 997;
}

.pagesHoverInsideBox ul {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    padding: 19px 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    margin: 0;
    list-style: none;
}

.pagesHoverInsideBox ul li {
    display: block;
    float: none;
    height: auto;
    width: 210px;
}

.pagesHoverInsideBox ul li a {
    display: block !important;
    margin: 0 !important;
    padding: 8px 26px !important;
    font-size: 13px !important;
    transition: color 0.2s ease-out !important;
    color: #737373 !important;
    line-height: 19px !important;
    font-weight: 500 !important;
}

.pagesHoverInsideBox ul li a .headText .headTextInside {
    display: block;
    float: none;
    margin: 0;
    padding: 8px 26px !important;
    font-size: 13px;
    color: #737373;
    line-height: 19px;
}

.pagesHover:hover .pagesHoverInside {
    visibility: visible !important;
    opacity: 1 !important;
}

.toggle-right-menu {
    display: none;
}

.header li.search {
    width: 24px;
}

.header li.search a {
    padding: 0 10px !important;
}

.header li.search svg {
    width: 24px;
    height: 24px;
}

.header li.search .dropdown-menu {
    width: 300px;
    height: 60px;
    align-items: center;
    border: none;
}

.header li.search.show .dropdown-menu {
    display: flex;
}

.header li.search form {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header li.search input {
    flex: 1;
    height: 44px;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 0 10px;
}

.header li.search button {
    background: transparent;
    color: #b5b5b5;
    width: 40px;
    height: 44px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header li.search button svg {
    width: 24px !important;
    height: 24px;
}

@media only screen and (max-width: 991px) {
    .toggle-right-menu {
        display: inline-block;
    }

    .headerLinks-col {
        display: none;
    }

    .headerLinks {
        position: relative;
        width: 100%;
        float: none;
        text-align: left;
    }

    .headerLinks nav {
        width: 100%;
        position: relative;
        display: block;
    }

    .headerLinks nav > ul > li {
        display: block;
        width: 100%;
        height: fit-content;
    }

    .headerLinks nav > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        vertical-align: top;
    }

    .headerLinks nav > ul > li > a {
        display: block;
        width: 100%;
        height: 50px;
        padding: 0 15px;
        letter-spacing: normal;
    }

    .headText {
        display: block;
    }

    .headTextInside {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    .headerLinks nav ul li:hover .headTextInside::before {
        width: 100%;
    }

    li#cart-link a svg {
        display: none !important;
    }

    li#cart-link .headerText {
        display: block;
    }

    li#cart-link .product-count {
        left: 60px !important;
    }

    .headerLinks li.search {
        display: none !important;
    }

    .offcanvas img {
        width: 200px;
    }
}