.header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
}
.headerBox {
  height: 115px;
  position: relative;
  background-color: #fff;
}
.headerLeftLogo {
  position: relative;
  float: left;

  z-index: 2;
  height: 100%;
}
.headerLeftLogo a img {
  width: 212px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.headerLinks {
  position: relative;
  float: right;
  z-index: 2;
  height: 100%;
  text-align: right;
}

.headerLinks nav {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.headerLinks nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.headerLinks nav ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;
}

.headerLinks nav ul li> a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 25px;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.1em;
}

.headText {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.headTextInside {
  position: relative;
  display: inline-block;
  vertical-align: top;
  &::before {
    content: "";
    height: 1px;
    background-color: currentColor;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    margin: auto;
    transition: width 0.2s ease-in-out;
  }
}
.headerLinks nav ul li:hover .headTextInside::before {
  width: 100%;
}
.pagesHover {
  position: relative;
}
.pagesHoverInside {
  position: absolute;
  display: block;
  left: 3px;
  top: 35px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: top 0.15s ease-out;
}

.pagesHoverInsideBox {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
}

.pagesHoverInsideBox ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 19px 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  margin: 0;
  list-style: none;
}

.pagesHoverInsideBox ul li {
  display: block;
  float: none;
  height: auto;
  width: 210px;
}

.pagesHoverInsideBox ul li a {
  display: block !important;
  margin: 0 !important;
  padding: 8px 26px !important;
  font-size: 13px !important;
  transition: color 0.2s ease-out !important;
  color: #737373 !important;
  line-height: 19px !important;
  font-weight: 500 !important;
}

.pagesHoverInsideBox ul li a .headText .headTextInside {
  display: block;
  float: none;
  margin: 0;
  padding: 8px 26px !important;
  font-size: 13px;
  color: #737373;
  line-height: 19px;
}

.pagesHover:hover .pagesHoverInside {
  visibility: visible !important;
  opacity: 1 !important;
}
