*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.right-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bottoms{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
